{% extends "real_effort_numbers_nt_nt/base/global.html" %}

{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    Preguntas de Control Etapa 1
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <align align = "justify">
            {% comment %} Todos:{% endcomment %} Esta etapa tiene {{Constants.sub_rounds_stage_1}} rondas. En cada ronda usted y otra persona con la que será emparejado (a),
            deberán realizar restas de números de dos dígitos a lo largo de un minuto.
            Por cada resta correcta, cada miembro de la pareja recibirá ${{Constants.payment_per_correct_answer}}.<br><br>

            <b>Ejemplo:</b><br>
            Imaginemos que hay dos jugadores, María y Juan y que ambos completan, al finalizar la Etapa 1, 50 restas correctas cada uno. 
            Esto quiere decir que tendrán en total 100 restas correctas, equivalentes a 10,000 pesos en total, tal como lo muestra la tabla:<br><br>
            <div style="text-align: center;">
                <img src="{% static 'images/table_explain_paymentstage1.png' %}" style= "object-fit: cover">
            </div>
            <br>

            En esta etapa usted será emparejado(a) con un participante distinto en cada ronda.<br><br>
            
            <b>A continuación le haremos unas preguntas de control, solo para estar seguros de que las instrucciones han sido claras.</b>
            Por favor, responda las siguientes preguntas:</b>       
        {%formfield player.control_question_1%}
        {%formfield player.control_question_2%}
        </p>
    </div>
    {% next_button %}
{% endblock %}
