{% extends "real_effort_numbers_nt_t/base/global.html" %} 

{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Preguntas de Control Etapa 1" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <p align = "justify">
            {% comment %} Todos:{% endcomment %} Esta etapa tiene 10 rondas. En cada ronda usted y otra persona con la que será emparejado (a),
            deberán realizar restas de números de dos dígitos a lo largo de un minuto.
            Por cada resta correcta, cada miembro de la pareja recibirá $50.<br><br>

            En esta etapa usted estará emparejado con un participante distinto cada ronda.<br><br>
            
            <b>Ejemplo:</b><br>
            Imaginemos que hay dos jugadores, María y Juan y que ambos completan, al finalizar la Etapa 1, 50 restas correctas cada uno. 
            Esto quiere decir que tendrán en total 100 restas correctas, equivalentes a 5000 pesos en total, tal como lo muestra la tabla:<br><br>
            <div style="text-align: center;">
                <img src="{% static 'images/table_explain_paymentstage1.png' %}" style= "object-fit: cover">
            </div>
            <br>
            Dado que sus decisiones son anónimas, ni usted ni la otra persona conocerán la identidad de la persona con quien han
            sido emparejados (as).<br><br>

            En esta etapa usted será emparejado(a) con un participante distinto en cada ronda.<br><br>

            <b>A continuación le haremos unas preguntas de control, solo para estar seguros de que las instrucciones han sido claras.</b>
            Por favor, responda las siguientes preguntas:</b>        
        {%formfield player.control_question_1%}
        {%formfield player.control_question_2%}
        </p>
    </div>
    {% next_button %}
{% endblock %}
