{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Etapa I
{% endblock %}

{% block content %}

    <p>
        <b>Por favor, lea las siguientes instrucciones</b> <br>

        <p>Usted realizará una tarea en la que deberá realizar la mayor cantidad de [cálculos numéricos / digitaciones] posibles.
             Esto lo deberá hacer durante 20 rondas, cada una con una duración de un minuto, y recibirá un punto por cada respuesta correcta.
              Mientras más respuestas correctas conteste, más puntos tendrá.</p>

        <p>El valor de los puntos se determinará cada cinco rondas. Para hacer esto, se sacará una moneda al azar de una urna virtual. 
            Cada moneda tiene un valor en unidades monetarias (UM) y cada UM equivale a 20 pesos. Usted sólo tendrá que elegir de qué urna 
            desea que salga la moneda. Si por ejemplo, saliera una moneda de 5 UM, quiere decir que usted ganará 100 pesos (5UM x $20) por 
            respuesta correcta.</p>

         <p>La Urna <b>Y</b> tiene monedas con valores entre 0 y 10. Sin embargo, no se sabe cuántas monedas hay de cada valor. La Urna <b>Z</b> 
              tiene monedas con valores entre 2 y 8, pero tampoco se sabe cuántas monedas hay de cada una.</p>

              <p>Usted deberá escoger la urna y el sistema seleccionará al azar la moneda.</p>

            <p><center><img src="{% static '1.png' %}"  width="550px" height="320px" /></center></p>

        <p><b>Ejemplo</b>: Suponga que para las primeras cinco rondas usted escogió la Urna Y y la moneda seleccionada al
             azar tiene un valor de 6 UM. Eso quiere decir que le pagaremos 6 UM por cada respuesta correcta en esas rondas, 
             que en pesos serían $120 (6x$20). Si usted obtuvo 35 respuestas correctas, sus ganancias serán de 120X35 = $4.200
              para esas cinco rondas.</p>
            

            <p>
        <center><h2>Preguntas de comprensión</h2> </center>

        <p>A continuación se presentarán algunas preguntas que permiten verificar si las instrucciones fueron claras para usted. 
            Tenga en cuenta que estas son preguntas solo de comprensión y no afectarán sus pagos finales. Por favor, seleccione la respuesta 
            correcta para cada una de las preguntas. </p> 
            
           {% formfields %}  
                      
    </p>
                      
    </p>

    

    {% next_button %}

{% endblock %}
